.git
.gitignore
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
mvnw
mvnw.cmd
target/
.env
.env.local
*.md
README.md
HELP.md
.DS_Store
.vscode
.idea
*.iml
.class
*.log
node_modules
.docker
docker-compose.yml
